
<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <div class="imgcontainer">
      <img src="../../assets/user.png"  style="height: 200px;width: 200px;" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" ngModel name="username" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" ngModel name="password" required>
  
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn" (click)="signupform()" >sign up</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
 